@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: white;
}

body main .page {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 1728px;
  height: 864px;
  background: url("images/bg-desktop.svg") hsl(257deg, 40%, 49%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main .page .logo {
  position: relative;
  top: -3%;
  left: 3%;
  bottom: 0;
  width: 425px;
  height: 200px;
}
@media (max-width: 375px) {
  body main .page {
    background: url("images/bg-mobile.svg") hsl(257deg, 40%, 49%);
    width: 637.5px;
    height: 1125px;
    position: absolute;
    top: 70%;
    left: 70%;
    bottom: 0;
  }
  body main .page .logo {
    position: relative;
    top: 6%;
    left: 16%;
    bottom: 0;
    width: 260px;
    height: 200px;
  }
}
body main .page .content {
  display: flex;
  position: relative;
  top: -12.5%;
}
@media (max-width: 375px) {
  body main .page .content {
    flex-direction: column;
  }
}
body main .page .content img {
  width: 100%;
  margin-top: 80px;
  margin-left: 60px;
}
@media (max-width: 375px) {
  body main .page .content img {
    width: 70%;
    position: relative;
    top: 80px;
    left: 50px;
    bottom: 0px;
  }
}
body main .page .content .description {
  margin-top: 100px;
  margin-left: 50px;
}
body main .page .content .description h1 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 80%;
}
@media (max-width: 375px) {
  body main .page .content .description h1 {
    font-size: 36px;
    text-align: center;
    width: 80%;
    position: relative;
    top: 0%;
    left: 10%;
    bottom: 0;
  }
}
body main .page .content .description p {
  width: 70%;
  line-height: 35px;
  font-size: 24px;
  margin-top: 30px;
}
@media (max-width: 375px) {
  body main .page .content .description p {
    position: relative;
    top: 0%;
    left: 18%;
    bottom: 0;
    font-size: 20px;
    text-align: center;
    width: 65%;
  }
}
body main .page .content .description button {
  cursor: pointer;
  color: hsl(300deg, 69%, 71%);
  border: none;
  background: white;
  width: 300px;
  height: 80px;
  border-radius: 50px;
  margin-top: 30px;
  box-shadow: 0px 0px 28px 2px rgb(41, 41, 44);
  font-size: 24px;
}
body main .page .content .description button:hover {
  background: hsl(300deg, 69%, 71%);
  color: white;
}
@media (max-width: 375px) {
  body main .page .content .description button {
    position: relative;
    top: 0%;
    left: 25%;
    bottom: 0;
  }
}
body main .page .media {
  position: relative;
  top: -5%;
  left: 84%;
  bottom: 2%;
}
body main .page .media i {
  cursor: pointer;
}
body main .page .media i + i {
  margin-left: 25px;
}
@media (max-width: 375px) {
  body main .page .media {
    position: relative;
    top: -9%;
    left: 35%;
    bottom: 5%;
  }
}/*# sourceMappingURL=style.css.map */