@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

@mixin resolution($px, $w, $h) {
  width: $px * $w;
  height: $px * $h;
}

@mixin position($pos, $t, $l, $b) {
  position: $pos;
  top: $t;
  left: $l;
  bottom: $b;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: white;
}

body {
  main {
    .page {
      .logo {
        position: relative;
        top: 5%;
        left: 3.5%;
      }
      @include position(absolute, 50%, 50%, 0);
      transform: translate(-50%, -50%);
      @include resolution(1440px, 1.2, 0.5);
      background: url("images/bg-desktop.svg") hsl(257, 40%, 49%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .content {
        display: flex;
        svg {
          width: 85%;
          margin: {
            top: 80px;
            left: 60px;
          }
        }
        .description {
          margin: {
            top: 100px;
          }
          h1 {
            font-size: 48px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            width: 70%;
          }
          p {
            width: 64%;
            line-height: 25px;
            font-size: 18px;
            margin-top: 30px;
          }
          button {
            cursor: pointer;
            color: hsl(300, 69%, 71%);
            border: none;
            background: white;
            @include resolution(10px, 20, 6);
            border-radius: 50px;
            margin-top: 30px;
            box-shadow: 0px 0px 28px 2px rgb(41, 41, 44);
            &:hover {
              background: hsl(300, 69%, 71%);
              color: white;
            }
          }
        }
      }
      .media-icons {
        @include position(relative, -1%, 85%, 2%);
      }
    }
  }
}
